/* global start */

/* body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color: #eeeeee;
}

span {
    color: red;
} */

/* button {
    font-size: 32px;
    margin: 10px auto;
    
    border: none;
    
    font-family: inherit;
    
    background-color: #4dad5b;
    color: #fff;
    text-decoration: none;
    
    padding: 5px;
    border-radius: 3px;
    
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    transition: opacity 0.2s;
} */

/* .button-class {
  width: 100%;
} */

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* global end */

/* header and footer styles */

.page-header  {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #30a7d7ff;
    color: #fff;
}

.page-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #30a7d7ff;
    color: #fff;
}

/* header and footer styles end */

/* main content styles */

.main-content {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.pokemon-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

.is-visible {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 32px;
    color: #4dad5b;
}

.is-hidden {
    display: none;
};