/* GENERAL STYLES*/

body {
  background: linear-gradient(to bottom, #4687a3, #d17ed1);
}

form {
  margin: 10px 0px;
}

input {
  padding: 4px 15px 4px 5px;
}

/* SEARCH */

.search-bar {
  display: flex;
  width: 100%;
  padding: 0px;
}

.search-bar form {
  width: 75%;
  padding: 0px;
}

/* POKEMON LIST VIEW */

#main-content {
  display: flex;
}

.pokemon-list {
  border-radius: 20px;
  background-color: #fcfcfc;
}

/* CARD */

.card {
  background-color: rgba(0, 0, 0, 0);
  background: linear-gradient(
    to bottom right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.3)
  );
  border: none;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.card-header {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
}

.card-text {
  color: #555;
}

.card-footer {
  display: flex;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  text-align: start;
}

.card-footer p {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: start;
}

/* MODAL */

.modal-content {
  border-radius: 20px;
}

.modal-header {
  color: #fcfcfc;
  border-bottom: none;
}

.modal-title {
  font-size: 1.5rem;
}

.close {
  color: #fff;
  opacity: 1;
}

.modal-body {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #fcfcfc;

  padding: 20px;
  align-items: start;
  font-size: 1.5rem;
  font-weight: bold;
}

.modal-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: start;
  width: 100%;
}

.modal-data p {
  margin: 10px 0;
}

.modal-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.modal-image img {
  width: 100%;
}

.modal .modal-footer {
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.btn {
  background-color: #007bff;
  color: #fff;
}

.btn:hover {
  background-color: #0056b3;
}

.is-visible {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 32px;
  color: #fff;
}

.is-hidden {
  display: none;
}

@media all and (max-width: 575px) {
  #title {
    font-size: 3.5rem;
  }

  .card {
    width: 175px;
  }
}
