body {
  background-color: #6890f0ff;
}

form {
  margin: 10px 0px;
}

input {
  padding: 4px 15px 4px 5px;
}

.search-bar {
  display: flex;
  width: 100%;
  padding: 0px;
}

.search-bar form {
  width: 75%;
  padding: 0px;
}

.modal-content {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.modal-header {
  background-color: #007bff;
  color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.modal-title {
  font-size: 1.5rem;
}

.modal-body {
  padding: 20px;
}

.modal-footer {
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.btn {
  background-color: #007bff;
  color: #fff;
}

.btn:hover {
  background-color: #0056b3;
}

.card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.card-text {
  color: #555;
}

.is-visible {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 32px;
  color: #fff;
}

.is-hidden {
  display: none;
}

@media all and (max-width: 575px) {
  #title {
    font-size: 3.5rem;
  }

  .card {
    width: 175px;
  }
}
